html {
    overflow-y:scroll;
    text-align: center;
    background-color: rgb(47, 79, 79);
   }
   
body {

}

#container {
   margin: 0 auto;
   max-width: 900px;
   text-align: left;
   padding: 25px;
   min-width: 650px;
   margin: 0 auto;
   height: 100%;
   background-size: auto;
   background-color: rgb(220, 220, 220);
   font-family:arial,helvetica,sans-serif;
   }
   
.menu a {color:rgb(220, 220, 220); font-family: times new roman,times,serif;font-size: 20pt;text-decoration: none;font-variant: small-caps;}>
.menu a:link {color:rgb(220, 220, 220);text-decoration: none}
.menu a:visited {color:rgb(220, 220, 220);text-decoration: none}
.menu a:hover {color:#FFFFFF;text-decoration: underline}
